# Unity 用 .gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# エディタ・IDE
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ビルド・クラッシュ関連
*.apk
*.aab
*.unitypackage
crashlytics-buildid.txt
sysinfo.txt

# OS
.DS_Store
Thumbs.db
